.annotatedFrame
	position: relative
	margin: 0 auto
	
	.annotations
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
	
		.annotation
			position: absolute
			border: solid 1px red

			.annotationLabel
				color: white
				position: absolute
				text-shadow: 1px 1px black;
				top: -1.5rem
				height: 1.5rem
				overflow: visible
				white-space: nowrap
	
	img
		width: 100%
		height: 100%