.viewDatastreamModal
	.frameControls
		height: 2.5rem
		line-height: 2.5rem

		.col-md-3
			padding: 0 22px

		.col-md-6
			text-align: center

		.viewDatastreamNextContainer
			text-align: right
	
	.annotatedFrame
		margin-top: 1rem
		margin-bottom: 1rem
	
	.frameInfo
		text-align: center